{% extends "educationalapplication/home.html" %}
{% load static %}

{% block mar %}{% endblock %}

{% block content %}
<div class="container text-start mt-4">
    <h1>About Us</h1>
    <p>This is a Realtime Training Website offering Courses on varied IT Technologies
         like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL,
         Digital Marketing, Java, UI/UX Designing & Development, Oracle Modules, Angularjs, ELearn
         Infotech is a Realtime Training Company offering Courses on varied IT Technologies like
         Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital
         Marketing, Java, UI/UX Designing & Development, Oracle Modules, Angularjs.</p>

      <h2>Our Vision</h2>
      <p>Our Vision is a Realtime Training Company offering Courses on varied ITTechnologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP
         with MySQL, Digital Marketing, Java, UI/UX Designing & Development</p>
      <h2>Mission</h2>
      <p> Our Mission is to  offer Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP
          with MySQL, Digital Marketing, Java, UI/UX Designing & Development</p>
  </div>
  <div class="container text-start mt-4">
    <h2>Our Specialities:</h2>
    <ul>
      <li>Our Website is a Realtime Training Website offering Courses on varied IT.</li>
      <li>Technologies like Fullstack Development, Python, React JS, Node JS, Web Development.</li>
      <li>Learn Infotech is a Realtime Training Company offering Courses on varied.</li>
      <li>Technologies like Fullstack Development, Python, React JS, Node JS, Web De.</li>
      <li>with MySQL, Digital Marketing, Java, UI/UX Designing & Development.</li>
    </ul>
  </div>
{% endblock %}
