{% extends "educationalapplication/base.html" %}
{% load static %}

{% block content %}
<h1>VIDEOS</h1>

<div class="container mt-4">
  <div class="row text-center">

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/SqcY0GlETPk" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/k1RI5locZE4" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/K5KVEU3aaeQ" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/eIrMbAQSU34" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/dzUc9vrsldM" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/6YZvp2GwT0A" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>

{% endblock %}
